
.new-todo
  position: absolute
  left: 250px
  top: 430px
  z-index: 8
  background: #1de9b6
  height: 40px
  width: 40px
  line-height: 40px
  border-radius: 100%
  box-shadow: 1px 1px 4px #444
  text-align: center
  cursor: pointer

  &--icon
    color: #fff
    font-size: 24px
