
=tab1
  background: darken(#aa00ff, 3%)
=tab2
  background: #aa00ff
=tab3
  background: darken(#aa00ff, 6%)

.mobile-content
  height: 100%
  width: 100%
  position: relative

  .items_list
    height: 100%
    width: 100%
    position: absolute
    z-index: 5

    .slick-list,.slick-track
      height: 100%

    &--screen-title
      position: absolute
      top: 40px
      color: #fff
      font-size: 14px
      width: 300px
      z-index: 8
      text-align: center
      &--desc
        padding: 0px 15px
        left: 0px
        position: absolute
      &--controls
        position: absolute
        right: 0px
        top: 0px
        padding: 0px 15px
        font-size: 18px
        cursor: pointer
        & > *
          cursor: inherit


    &--wrapper
      height: 100%
    &--screen
      height: 100%
      margin-top: 100px
      width: 300px
      float : left
      background: #fff
    &--tabs
      position: absolute
      width: 300px
      height: 30px
      top: 70px
      z-index: 7
      display: flex
      flex-direction: row
    &--tab
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      height: 100%
      color: #fff
      font-size: 14px
      border-bottom: 3px solid #e91e63
      small
        font-size: 12px

      &:not(.active)
        border-bottom: 3px solid darken(#e91e63, 30%)
        color: #828282
        cursor: pointer
        & > *
          cursor: pointer

    &--control
      display: flex
      align-items: center
      justify-content: flex-start
      text-align: left
      width: 100%
      height: 100%
      color: #fff
      font-size: 14px
      cursor: pointer
      padding: 0px 10px
      & > i
        cursor: pointer
        margin-left: 4px
        margin-right: 10px
        font-size: 18px
      &:last-child
        justify-content: flex-end
