
=tab1
  background: darken(#aa00ff, 3%)
=tab2
  background: #aa00ff
=tab3
  background: darken(#aa00ff, 6%)

.mobile-content
  height: 100%
  width: 100%
  position: relative

  .items_list
    height: 100%
    position: absolute
    z-index: 5

    .slick-list,.slick-track
      height: 100%

    &--wrapper
      height: 100%
    &--screen
      height: 100%
      width: 300px
      float : left
    &--screen[data-index="0"]
      +tab1
    &--screen[data-index="1"]
      +tab2
    &--screen[data-index="2"]
      +tab3
    &--tabs
      position: absolute
      width: 300px
      height: 30px
      bottom: 0
      z-index: 10
      display: flex
      flex-direction: row
    &--tab
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      height: 100%
      color: #fff
      font-size: 20px
      border-top: 1px solid pink
      background: lighten(#aa00ff, 3%)
      &:not(.active)
        background: darken(#aa00ff, 8%)
        border-top: 1px solid darken(#aa00ff, 12%)
        cursor: pointer
        i
          cursor: pointer
