.mobile-content
  height: 100%
  width: 100%
  position: relative

  .items_list
    &--scroll
      height: 380px
      overflow: hidden

    h2
      text-align: center
      margin-top: 180px
      color: #828282

    &--item
      display: flex
      flex-direction: row
      width: 100%
      padding: 20px 0px
      align-items: center
      text-align: left
      position: relative

      &:last-child
        .items_list--item--sp
          display: none

      &.completed
        text-decoration: line-through
        .items_list--item--title
          color: #828282
          font-style: italic
        .items_list--item--checkbox
          color : #1de9b6


      &--checkbox
        width: 40px
        color: #e91e63
        text-align: center
        font-size: 18px
        padding: 5px 0px
        cursor: pointer
        & > i
          cursor: pointer

      &--title
        color: inherit
        font-size: 16px
        color: #444
        cursor: text
      &--sp
        position: absolute
        bottom: 0px
        width: 100%
        left: 0px
        &:after
          width: 100px
          position: absolute
          bottom: 0px
          width: 100%
          display: block
          content: '. . . . . . . . . .'
          font-size: 12px
          letter-spacing: 3px
          text-align: center
          color: #e91e63
