.mobile-content
  height: 100%
  width: 100%
  position: relative

  .items_list
    &--scroll
      height: 380px
      overflow: hidden

    &--item
      display: flex
      flex-direction: row
      width: 100%
      padding: 20px 0px
      align-items: center
      text-align: left
      border-bottom: 1px dashed pink
      border-left: 8px solid pink

      &:last-child
        border-bottom: none

      &.completed
        border-left: 8px solid #1de9b6
        text-decoration: line-through
        .items_list--item--title
          color: #828282
          font-style: italic
        .items_list--item--checkbox
          color : #1de9b6


      &--checkbox
        width: 40px
        color: pink
        text-align: center
        font-size: 18px

      &--title
        color: inherit
        font-size: 16px
        color: #444
